<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- if title %}
	<title>Flask Notes App - {{ title }}</title>
	{% else %}
	<title>Flask Notes App</title>
	{% endif -%}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
	<header class="site-header">
		<h1>Flask Notes</h1>
		{% block header_action %}{% endblock %}
	</header>
	<div class="flashed-messages">
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<p class="flash-message">{{ message }}</p>
		{% endfor %}
	{% endif %}
{% endwith %}
	</div>

	<main>
		{% block content %}{% endblock %}
	</main>
</div>
</body>
</html>
