<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flask Notes App - {{ title }}</title>

<style>
* {
	box-sizing: border-box;
}

html, body {
	margin: initial;
	padding: initial;
	font-family: system-ui, -apple-system, sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wrapper {
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem;
}
</style>

</head>
<body>
<div class="wrapper">
	<h1>Hello from template!</h1>
</div>
</body>
</html>