{% extends "base.html" %}
{% block header_action %}<a class="action new-note" href="{{ url_for('new_note') }}">New Note</a>{% endblock %}
{% block content %}
	{%- for note in notes | reverse %}
		<article class="note">
			<div class="note-header">
				<div class="note-meta">
					<h2>{{ note["title"] }}</h2>
					<p class="date-modified">{{ note["date-modified"].strftime('%m/%d/%Y %I:%M:%S %p') }}</p>
				</div>
				<a class="action edit-note" href="">Edit</a>
				<a class="action delete-note" href="">Delete</a>
			</div>

			<p class="note-body">{{ note["body"].replace("\n", "<br>") | safe }}</p>
		</article>
	{% endfor -%}
{% endblock %}