<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- if title %}
	<title>Flask Notes App - {{ title }}</title>
	{% else %}
	<title>Flask Notes App</title>
	{% endif %}

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
	<header class="site-header">
		<h1>Flask Notes</h1>
		<a class="action new-note" href="">New Note</a>
	</header>

	<main>
	{% for note in notes | reverse %}
		<article class="note">
			<div class="note-header">
				<div class="note-meta">
					<h2>{{ note["title"] }}</h2>
					<p class="date-modified">{{ note["date-modified"] }}</p>
				</div>
				<a class="action edit-note" href="">Edit</a>
				<a class="action delete-note" href="">Delete</a>
			</div>

			<p class="note-body">{{ note["body"].replace("\n", "<br>") | safe }}</p>
		</article>
	{% endfor -%}
	</main>
</div>
</body>
</html>
